.footer {
    background-color: var(--head-footer-bg);
    padding: 60px 0;
    &-logo {
            font-family: raleway;
            font-size: 26px;
            line-height: 1.19;
            color: var(--white);
            display: inline-block;
    
        }
    &-contact {
        @media screen and (max-width: 1199px) {
            display: inline-block;
            text-align: center;
        }
    }
    &-contact-link {
        display: block;
        
        padding-top: 9px;
        width: 231px;
        font-size: 14px;
        line-height: 1.71;
        color: var(--footer-contact);
        letter-spacing: 0.03em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
        &:hover,
        &:focus {
            color: var(--white);
        }
    }
    &-social {
        display: flex;
        justify-content: center;
    }
}

.box-main {
    // align-items: baseline;
    justify-content: center;
    @media screen and (min-width: 1200px) {
        display: flex;
    }
}

.contact-box {
    @media screen and (max-width: 1199px) {
        text-align: center;
    }
}

.contact-link-map {
    color: var(--white);
    padding-top: 20px;
}

.social-box {
    
    @media screen and (min-width: 1200px) {
        display: block;
        margin-left: 70px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        position: relative;
        top: -110px;
    }
    
}

.social-title {
    margin-top: 60px;
    margin-bottom: 20px;
    font-weight: 700;
    letter-spacing: 0.03em;
    color: var(--white);
    text-transform: uppercase;
    @media screen and (max-width: 1199px) {
        text-align: center;
    }
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            margin-top: 0;
        }
}



.social-link--footer {
    color: var(--white);
    background-color: rgba(255, 255, 255, 0.1);
    margin-right: 10px;
}

.social-logo {
    fill: currentColor;
}

.contact-social-box {
    @media screen and (min-width: 768px) {
            display: flex;
            align-items: baseline;
            justify-content: space-around;
        }
    
        @media screen and (min-width: 1200px) {
            display: flex;
            align-items: baseline;
            text-align: left;
            margin-right: auto;
            margin-left: 0;
            margin-bottom: 0;
        }
    }


.subscribe {
    @media screen and (min-width: 1200px) {
        margin-left: 93px;
        width: 100%;
    }
    
    &-mail {
            
            background-color: var(--head-footer-bg);
            outline: none;
            height: 50px;
            border: 1px solid rgba(255, 255, 255, 0.3);
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
            border-radius: 4px;
            color: var(--white);
            padding-left: 16px;
            transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

            @media screen and (max-width: 1199px) {
                width: 100%;
                max-width: 450px;
                }

            @media screen and (min-width: 1200px) {
                width: 100%;
                min-width: 358px;
            }
    
            &:hover,
            &:focus {
                border-color: var(--hover-color);
            }
        }
    &-button {
        // display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        min-width: 200px;
        height: 50px;
        background-color: var(--hover-color);
        color: var(--white);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: none;
        cursor: pointer;
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.06em;
        
        @media screen and (min-width: 1200px) {
            margin-top: 0;
            margin-left: 12px;
        }
    }

    &-label {
        width: 100%;
    } 
    
    &-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        // width: 100%;
        @media screen and (min-width: 1200px) {
            flex-direction:row;
        }
        
    }
}



.send-logo {
    fill: var(--white);
    margin-left: 10px;
}
