:root {
    --hover-color: rgb(33, 150, 243);
    --white: rgb(255, 255, 255);
    --link-list-text: rgb(117, 117, 117);
    --main-title: rgb(33, 33, 33);
    --head-footer-bg: rgb(47, 48, 58);
    --logo: rgb(0, 0, 0);
    --teem-bg: rgb(245, 244, 250);
    --pf-filter: rgb(245, 245, 245);

    --footer-contact: rgba(255, 255, 255, 0.6);
}